<a href="https://colab.research.google.com/github/KuzmenkoO/amazinum_homework_with_DE/blob/main/lecture2_homework_de.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 1**

In [1]:
def new_number(number):
    print("Received a new number: {}".format(number))


def is_positive(number):
    if number > 0:
        print("{} is a positive number".format(number))
    elif number == 0:
        print("Zero")
    else:
        print("{} is a negative number".format(number))


def print_bye(number):
    print("Bye!")


def numbers_handler(list_of_numbers=[1, -1, 0], before=new_number, action=is_positive, after=print_bye):
    for i in list_of_numbers:
        before(i)
        action(i)
        after(i)


numbers_handler()

Received a new number: 1
1 is a positive number
Bye!
Received a new number: -1
-1 is a negative number
Bye!
Received a new number: 0
Zero
Bye!

In [2]:
def print_hello(number):
    print("Hello!")


def some_action(number):
    print("Action!")


numbers_handler([10], action=some_action, before=print_hello)

Hello!
Action!
Bye!

________________________________________________________________________________________________________________________________________________________________
**Task 2**

In [3]:
def get_average_mark(student_name, *args):
    count = 0
    sum_mark = 0

    for mark in args:
        sum_mark += mark
        count += 1
    student_mark = sum_mark / count

    print("{} got {}".format(student_name, round(student_mark)))


get_average_mark("Danylo", 11)
get_average_mark("Oleksii", 12, 10, 11, 11, 11)
get_average_mark("Ivan", 10, 11, 12, 9, 12, 12)

Danylo got 11
Oleksii got 11
Ivan got 11



**Task 3**

In [4]:
def message_people(names_people):
    def print_message(message):
        names = ", ".join(names_people)
        match message:
            case "hello":
                print("Hello, {}, nice to see you!".format(names))
            case "meeting":
                print("{}, we have a meeting in an hour, don't be late!".format(names))
            case "Bye":
                print("Bye {}, see you tomorrow!".format(names))
            case _ :
                print("Can you enter anather text?")
    return print_message


mes_people = message_people(["Alex", "Robert", "Tom"])

In [5]:
mes_people('hello')

Hello, Alex, Robert, Tom, nice to see you!

In [6]:
mes_people('meeting')

Alex, Robert, Tom, we have a meeting in an hour, don't be late!

In [7]:
mes_people('Bye')

Bye Alex, Robert, Tom, see you tomorrow!

**Task 4**

In [8]:
def fibonacci_generator(number):
    first_element, next_element = 0, 1
    for i in range(number):
        if i == 0:
            yield "0"
        elif i == 1:
            yield "1"
        else:
            yield f"{first_element + next_element} ({first_element} + {next_element})"
            first_element, next_element = next_element, next_element + first_element

In [9]:
fib_generator = fibonacci_generator(6)
for fib_number in fib_generator:
    print(fib_number)

0
1
1 (0 + 1)
2 (1 + 1)
3 (1 + 2)
5 (2 + 3)

**Task 5**

In [10]:
class Person:
    people = {}

    def __init__(self, name, age):
        self.name = name
        self.age = age
        Person.people[name] = self


def create_person_list(people):
    person_list = []

    for element in people:
        person = Person(element["name"], element["age"])
        person_list.append(person)

    for element in people:
        person = Person.people[element["name"]]
        if "wife" in element and element["wife"] is not None:
            person.wife = Person.people[element["wife"]]
        if "husband" in element and element["husband"] is not None:
            person.husband = Person.people[element["husband"]]

    return person_list

In [11]:
people = [
    {'name': 'Ross', 'age': 30, 'wife': 'Rachel'},
    {'name': 'Joey', 'age': 29, 'wife': None},
    {'name': 'Rachel', 'age': 28, 'husband': 'Ross'}
]

person_list = create_person_list(people)
isinstance(person_list[0], Person)  # True

True

In [12]:
person_list[0].name == 'Ross'
person_list[0].wife is person_list[2]  # True
person_list[0].wife.name == 'Rachel'

True

In [13]:
person_list[1].name == 'Joey'
person_list[1].wife

AttributeError: 'Person' object has no attribute 'wife'

In [15]:
isinstance(person_list[2], Person)  # True

True

In [16]:
person_list[2].name == 'Rachel'
person_list[2].husband is person_list[0]  # True
# The same as person_list[0]

True

In [17]:
person_list[2].husband.name == 'Ross'
person_list[2].husband.wife is person_list[2]  # True

True